# Python
__pycache__/

# Documents for RAG
rag-docs/*

# Saved Vector Store
resource/rag-sources.json
resource/vector-store
vector-stores/

# Virtual environment
.env
.venv
guardian_prototype/

# Generated output
chats/
.temp/

# Vim
*.swn
*.swo
*.swp
