<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>coras-navigator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='script/script.js') }}"></script>
</head>

<body>
    <main>
        <div id="coras-navigator">
            <div class="one-line">
                <p>Please provide a context description of your system:</p>
                <button class="load-button">Load files</button>
            </div>
            <!--
            <div class="files-list">
                <div class="file-square">
                    <button class="remove-file">×</button>
                    <p class="file-name">description.pdf</p>
                </div>
                <div class="file-square">
                    <button class="remove-file">×</button>
                    <p class="file-name">specs.pdf</p>
                </div>
            </div>
            -->
            <textarea id="context-description-input" placeholder="We are developing..."></textarea>
            <div class="action-buttons">
                <button id="generate-summary-button">Generate a summary</button>
            </div>
            <!--
            <p>Here is a summay of the context description you provided: </p>
            <p class="generated-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p>Does this summary accurately reflect your system?</p>
            <div class="action-buttons">
                <button>Yes, proceed to the risk analysis</button>
                <button>No</button>
            </div>
            <p>Risk assessment:</p>
            <p class="generated-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
                Nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse.
                Cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident.
                Sunt in culpa qui officia deserunt mollit anim id est laborum.
                Curabitur pretium tincidunt lacus. Nulla gravida orci a odio.
                Nullam varius, turpis et commodo pharetra, est eros bibendum elit.
            </p>
            <div class="coras-model-container">

            </div>
            -->
        </div>
    </main>
</body>
</html>
